.footerStyle {
    background-color: #FF6B6B;
    color: white;
    width: 100vw;
    display: flex;
    height: 56px;
    align-items: center;
}

.websiteRights {
    display: flex;
    min-width: 100vw;
    justify-content: center;
    align-content: center;
    align-items: center;
}